{%extends 'base.html'%}

{%block content%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body bgcolor="blue">
<left>
        <H2><center>FAKULTAS TEKNIK</center></H2>
    <h3><CENTER>UNIVERSITAS HAMZANWADI SELONG</CENTER></h3>
    <h6><center>Pancor Selong Kabupaten Lombok Timur Nusa Tenggara Barat</center></h6>
    <p><h4>Program Studi</h4>
            Saat ini Fakultas Teknik Universitas Hamzanwadi memiliki lima program studi yakni: 
            <br>(1) S1 Teknik Informatika; 
            <br>(2) S1 Sistem Informasi; 
            <br>(3) S1 Teknik Komputer; 
            <br>(4) S1 Teknik Lingkungan; 
            <br>(5) D3 Manajemen Informatika 
            <br>Masing-masing program studi tersebut melaksanakan tri dharma perguruan</p>
    <p><h4>Fasilitas</h4>
                    Fakultas Teknik Universitas Hamzanwadi dilengkapi dengan sarana maupun prasarana pendukung strategis 
                    yang dirancang tidak hanya untuk dapat mendukung kegiatan pembelajaran di kelas, 
                    <br>melainkan juga untuk menciptakan atmosfer kondusif  bagi civitas akademika dalam melakukan aktivitas lain yang menunjang</p>
    <p><h4>Aktivitas Mahasiswa</h4>
                    Selain melalui tatap muka di kelas, mahasiswa Fakultas Teknik Universitas Hamzanwadi memiliki aktivitas 
                    yang membantu meningkatkan pengetahuan, kompetensi, dan pengalaman mereka.<br> Mahasiswa melalui BEM dan UKM 
                    secara rutin melaksanakan kegiatan-kegiatan peningkatan kapasitas mahasiswa baik hard maupun soft</p>
    <p><h4>SEJARAH BERDIRINYA FAKULTAS TEKNIK UNIVERSITAS HAMZANWADI</h4>

        Berawal dari lembaga profesi Lembaga Pendidikan Wasyrin Najabah (LPWN) Hamzanwadi Pancor yang merupakan salah satu Lembaga Pendidikan Profesi di Kabupaten Lombok Timur, 
        <br>yang dimiliki oleh Yayasan Pendidikan Hamzanwadi, Pondok Pesantren Darunnahdlatain NW Pancor (YPH PPD NW Pancor). 
        <br>LPWN sejak berdirinya tanggal 23 Maret 2002 memiliki 3 (tiga) jurusan yaitu Informatika Komputer, Komputer Akuntansi dan Manajemen Perkantoran. 
        <br>LPWN hingga wisuda terakhir tahun 2014 telah mendidik sebanyak 851 (Delapan ratus lima puluh satu) mahasiswa-mahasiswi, 
        <br>yang telah terserap di dunia kerja baik instansi pemerintah, swasta maupun wiraswasta sebanyak 456 orang atau sekitar 70%.
        <br>LPWN sesuai misinya, senantiasa berusaha mengembangkan sumber daya manusia intelektual yang berlandaskan iman dan taqwa kepada Allah SWT.
        <br> Hal ini senantiasa menjadi landasan kinerja bagi seluruh manajemen LPWN Hamzanwadi Pancor dalam upaya meningkatkan kualitas lulusan dalam memenuhi tuntutan 
        <br>akan tenaga profesional dibidang informasi dan teknologi seperti Programmer, Desain Grafis, Pemrograman Web, Jaringan Komputer, Komputer Akuntansi.                
        <br>Berangkat dari permintaan alumni LPWN untuk bisa melanjutkan studi kejenjang yang lebih tinggi dan keluhan beberapa dunia usaha yang menyatakan bahwa 
        <br>mencari tenaga kerja profesional di bidang Teknologi Informasi sulit, maka YPH PPD NW Pancor kemudian melakukan transformasi dengan mengajukan pendirian 
        <br>Sekolah Tinggi Teknologi Hamzanwadi.                
        <br>Usaha pendirian tersebut kemudian membuahkan hasil dengan dikeluarkannya Surat Keputusan Menteri Penddikan dan Kebudayaan Republik Indonesia 
        <br>Nomor : 356/E/O/2013 Tanggal 30 Agustus 2013. Bersama surat keputusan tersebut Mendikbud menyatakan bahwa Sekolah Tinggi Teknologi Hamzanwadi resmi berdiri 
        <br>dengan tiga program studi yakni S1 Teknik Informatika, S1 Sistem Informasi dan D3 Manajemen Informatika. Sebagai kelanjutan dari turunnya SK tersebut, 
        <br>maka penerimaan mahasiswa untuk LPWN Hamzanwadi ditutup, wisuda terakhir dilaksanakan pada tahun 2014 dan sebagai gantinya seluruh kegiatan akademik berlangsung 
        <br>dalam naungan STT Hamzanwadi. 
        <br>Pada tanggal 23 September 2016, ijin tentang penggabungan Sekolah Tinggi Keguruan dan Ilmu Pendidikan (STKIP Hamzanwadi Selong) 
        <br>dan Sekolah Tinggi Teknik Hamzanwadi (STTH) menjadi Universitas Hamzanwadi di keluarkan oleh Menristek Dikti dan bersamaan dengan 
        <br>surat keputusan ijin penyelenggaraan 428/KPT/I/2016 tentang Penggabungan STKIP Hamzanwadi dan STTH menjadi Universitas Hamzanwadi 
        <br>Kabupaten Lombok Timur 23 September 2016.</p>
</left>
</body>
</html>
{%endblock%}